<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/sticky-footer.css">

    <style>

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
    <title>leave message</title>
</head>
<body class="d-flex flex-column h-100">
<!-- 导航条 -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar scroll</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                Link
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <form action="/index" method="POST">
        <!-- username -->
        <div class="col-sm-3 my-1">
           <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input type="text" name="name" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
            </div>
          </div>
      <!-- 留言板内容 -->
        <div class="form-group">
          <label for="exampleFormControlTextarea1"><h1>留言板</h1></label>
          <textarea class="form-control" name="content" id="exampleFormControlTextarea1" cols="30" rows="3"></textarea>
        </div>
       <input class="btn btn-success"  type="submit" value="Submit">
       <input class="btn btn-danger "  type="reset" value="reset">
      </form>
      <!-- 脚部内容 -->
      <footer class="footer mt-auto py-3">
        <div class="container">
          <span class="text-muted"><h2>you can contact with caowanjing</h2></span>
        </div>
      </footer>

      <script src="./js/jquery.slim.min.js"></script>
     <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>